<app-filter
        [searchedQuery]="searchedQuery"
        (valueChange)="valueChange($event)"
        [label]="'Filter characters by name'">
</app-filter>
<div class="character-list-wrapper">
    <app-view-list-item
        *ngFor="let character of characters.results | search:'name':query"
        [viewListItemData]="character.name"
        (click)="gotoCharacter(character.url)">
    </app-view-list-item>
</div>
<app-pagination
        [previousPage]="characters.previous"
        [nextPage]="characters.next"
        [totalItems]="characters.count"
        [showingItems]="characters.results ? characters.results.length : 0">
</app-pagination>
