<div class="film-details-wrapper">
    <h1>{{film.title}}</h1>

    <p>Director: {{film.director}}</p>
    <p>Episode ID: {{film.episode_id}}</p>
    <p>Opening crawl: {{film.opening_crawl}}</p>
    <p>Planets: {{film.planets}}</p>
    <p>Vehicles: {{film.vehicles}}</p>

    <p *ngFor="let character of film.characters" (click)="gotoCharacter(character)">Characters: {{ character }}</p>
</div>
