<div class="character-details-wrapper">
    <h1>{{character.name}}</h1>

    <p>Birth year: {{character.birth_year}}</p>
    <p>Gender: {{character.gender}}</p>
    <p>Eye color: {{character.eye_color}}</p>
    <p>Hair color: {{character.hair_color}}</p>
    <p>Skin color: {{character.skin_color}}</p>
    <p>Height: {{character.height}}</p>
    <p>Mass: {{character.mass}}</p>
    <p>Homeworld: {{character.homeworld}}</p>
    <p>Species: {{character.species}}</p>
    <p>Starships: {{character.starships}}</p>
    <p>Vehicles: {{character.vehicles}}</p>

    <p *ngFor="let film of character.films" (click)="gotoFilm(film)">{{ film }}</p>
</div>

<button mat-button (click)="toggleFavourite()">
    {{ isFavourite ? 'Remove from favourites' : 'Add to favourites' }}
</button>
