<div class="pagination-wrapper">
    <button mat-button class="next" (click)="gotoPage(nextPage)">Next</button>
    <button mat-button class="previous" (click)="gotoPage(previousPage)">Previous</button>
    <p class="pagination-info">Total items: {{ totalItems }}</p>
    <p class="pagination-info">Showing items: {{ showingItems }}</p>
    <p class="pagination-info">Page: {{ pageNo }} of {{ totalPages }}</p>
</div>
