.pagination-wrapper {
  display: block;
  width: 100vw;
}

.next, .previous {
  display: inline-block;
  margin: 1rem;
}

.next {
  float: right;
}

.previous {
  float: left;
}

.pagination-info {
  display: inline-block;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .pagination-info {
    width: 100%;
    text-align: center;
  }
}
