<app-filter
        [searchedQuery]="searchedQuery"
        (valueChange)="valueChange($event)"
        [label]="'Filter films by title'">
</app-filter>
<div class="film-list-wrapper">
    <app-view-list-item
            *ngFor="let film of films.results | search:'title':query"
            [viewListItemData]="film.title"
            (click)="gotoFilm(film.url)">
    </app-view-list-item>
</div>
<app-pagination
        [previousPage]="films.previous"
        [nextPage]="films.next"
        [totalItems]="films.count"
        [showingItems]="films.results ? films.results.length : 0">
</app-pagination>
