.film-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  min-height: 250px;
}

mat-form-field {
  display: inline-block;
  width: 250px;
  margin: 1rem;
}

app-view-list-item {
  padding: 1rem;
}
