<mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <label>
        <input matInput class="search-query" [(ngModel)]="searchedQuery" (change)="handleChange($event)">
    </label>
</mat-form-field>
