/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: starjedi;
  src: url(assets/fonts/Starjedi.ttf);
}

@font-face {
  font-family: starjhol;
  src: url(assets/fonts/Starjhol.ttf);
}
html, body {
  height: 100%;
  background-color: black
}
*, body { margin: 0; box-sizing: border-box; font-family: starjedi, "Arial", sans-serif; color: #FFE81F; }
